<div class="container about">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-6 hidden-xs">
                <img class="img-responsive skyLogoColor" src="../img/Sky_Logo.png"  alt="skylogo">
            </div>
            <div class="col-xs-12 col-sm-6">
                <h1>About Application</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6  hidden-xs ">
            <div class="thumbnail">
                <img src="../img/tech.png"  alt="tech">
                <div class="caption">
                    <h3>Angular | Bootstrap | node | Sass | Gulp </h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 center-block ">
           <h2>Install Guide</h2>
            <p>fork the project form the following <a target="_blank" href="https://github.com/tejpal-sohal/billapp">location</a></p>
            <p>once download...cd into the directory and run the following</p>
            <code>npm install<br>npm start</code>
            <h2>Production Build</h2>
            <p>for a production ready build run</p>
            <code>gulp prod</code>
        </div>
    </div>
</div>