<!-- Begin page content -->
<div class="video-hero">
    <video class="c-video" loop="" preload="auto" poster="https://www.sky.com/assets2/undefined-first-frame-59cef8fe.jpg?downsize=1200:*&amp;output-format=jpg" autoplay=""><source src="https://static.video.sky.com/skyarts/2016/11/219493/219493-576p_2000K_H264.mp4" type="video/mp4"></video>
</div>
<div class="container">
<div class="home row hug">
    <div class="col-xs-12 hidden-xs ">
        <div class="title-header">
            <img src="../img/Sky_glass_logo.png" alt="sky logo">
            <h1>Fortitude</h1>
            <p class="lead">A dark event rocks a remote Arctic town in this unmissable original thriller.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 box text-center">
        <div class="one hvr-bounce-in">
            <h1>Sales on today</h1>
            <p class="lead">Check out the lastest deals</p>
        </div>
    </div>
    <div  class=" col-xs-12 col-sm-3 box">
        <div class="two">
            <h3>Sky TV & Fibre from £22 a month</h3>
            <p class="lead">Including line rental
                + £75 choice of reward</p>
            <img class="img-responsive center-block hidden-sm hidden-md hidden-lg" src="../img/Lego_ShopHome.png" alt="Lego">
        </div>
    </div>
    <div  class="col-xs-12 col-sm-3 box zero-padding-l-r">
        <div class="three">
            <img class="img-responsive center-block  hvr-bounce-in" src="../img/blues.png" alt="skytv">
            <p class="lead text-center">Blues</p>
        </div>
    </div>
    <div  class=" col-xs-12 col-sm-3 box zero-padding-l-r">
        <div class="four center-block">
            <img class="img-responsive hvr-buzz" src="../img/dec2015-sky-living-bones-panel-6f72f11.jpg" alt="skytv">
            <p class="lead text-center">Bones</p>
            <button class="btn center-block">Find out more</button>
        </div>
    </div>
    <div  class=" col-xs-12  col-sm-3 box five long">
        <div class="two">
            <h3>Sky TV & Fibre from £42 a month</h3>
            <p class="lead">Including line rental
                + £75 choice of reward</p>
            <img class="img-responsive center-block hvr-bounce-in" src="../img/Lego_ShopHome_bman.png"  alt="sky bundle">
        </div>
    </div>
    <div  class="col-xs-12 col-sm-3 box zero-padding-l-r">
        <div class="six">
            <img class="img-responsive center-block hvr-buzz" src="../img/supermanbatman.jpeg" alt="skymovies">
            <p class="lead text-center">Batman v Superman</p>
        </div>
    </div>
    <div  class="col-xs-12 col-sm-3 box zero-padding-l-r">
        <div class="seven">
            <img class="img-responsive center-block hvr-bounce-in" src="../img/lost-in-the-west-panel-5611e867.jpg"  alt="skytv">
            <p class="lead text-center">Lost in the west</p>

        </div>
    </div>
    <div  class="col-xs-12 col-sm-6 box">
        <div class="row eight">
            <div  class="col-xs-12 col-sm-6 zero-padding-l-r ">
                <img class="img-responsive center-block hvr-buzz m-b-18" src="../img/sky-1-the-simpsons-panel-8560f7d.jpg"  alt="skytv">
                <button class="btn center-block">Find out more</button>
            </div>
            <div  class="col-xs-12 col-sm-6">
                <div>
                    <p class="lead">The Simpsons</p>
                    <p>The longest running scripted TV show in the world is still going strong - join Homer, Marge, Lisa, Bart and Maggie for all the latest goings-on with brand new episodes from Springfield.</p>
                </div>
            </div>

        </div>
    </div>
</div>
</div>